mixin footer(data)
  footer.footer
    .footer__wrapper
      .footer__logo
        img(alt='logo', src='static/img/general/logo-footer.png').footer__logo-image
      .footer__catigories
        ul.footer__catigories-list
          li.footer__catigories-item: a(href='#').footer__catigories-link Диваны
          li.footer__catigories-item: a(href='#').footer__catigories-link Кровати
          li.footer__catigories-item: a(href='#').footer__catigories-link Столы
          li.footer__catigories-item: a(href='#').footer__catigories-link Кресла
          li.footer__catigories-item: a(href='#').footer__catigories-link Стулья
      .footer__catigories
        ul.footer__catigories-list
          li.footer__catigories-item: a(href='#').footer__catigories-link Люстры
          li.footer__catigories-item: a(href='#').footer__catigories-link Торшеры
          li.footer__catigories-item: a(href='#').footer__catigories-link Бра
          li.footer__catigories-item: a(href='#').footer__catigories-link Настольный свет
          li.footer__catigories-item: a(href='#').footer__catigories-link Подсветка
          li.footer__catigories-item: a(href='#').footer__catigories-link Уличный свет
      .footer__right
        .footer__search
          input(type='text', placeholder='Поиск...').footer__search-input
        .footer__contacts
          span.footer__contacts-phone +7 931 383 4945
          span.footer__contacts-address Санкт-Петербург,  Коломяжский пр., 1
        .footer__contacts-pipe
        .footer__menu
          ul.footer__menu-list
            li.footer__menu-item Главная
            li.footer__menu-item О компании
            li.footer__menu-item Контакты
    .footer__copyright-wrapper
      .footer__copyright
        | Политика конфиденциальности и копирайт