.article{
  &__item{
    display: inline-block;
    vertical-align: top;

    width: 220px;

    margin-bottom: 55px;
    margin-right: 138px;

    &:hover{
      .article__item-title{
        color: #a0e8b7;
      }
    }
    //margin-right: 140px;

    &-image{
      &-wrapper{
        width: 220px;
        height: 220px;

        overflow: hidden;
        margin-bottom: 20px;
      }
    }

    &-date{
      font-family: 'HarmoniaSansProCyr-Light', sans-serif;
      font-size: 14px;

      display: inline-block;

      border: 0;
      border-top: 2px solid #a0e8b7;

      padding-top: 17px;
      padding-bottom: 7px;
    }

    &-title{
      font-family: 'anahit-regular', sans-serif;
      font-size: 18px;
    }
  }
}